.contacts {
  @media (max-width: $mobile-width) {
    border-top: 1px solid $grey-300;
  }
}

.contacts__wrapper {
  @media (max-width: $mobile-width) {
    position: relative;
    min-width: 290px;
    max-width: 767px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contacts__header {
  @media (max-width: $mobile-width) {
    position: absolute;
    top: 28px;
    left: 15px;
    z-index: -1;
  }
}

.contacts__list {
  @include list-reset;

  @media (max-width: $mobile-width) {
    margin-top: 8px;
    margin-bottom: 26px;
    padding-right: 20px;
  }
}

.contacts__item {
  font-size: 15px;
  line-height: 25px;
}

.contacts__address {
  font-style: normal;
}

.contacts__link {
  @include interactive-element;
}
