.form__checkbox {
  position: relative;

  padding-left: 33px;

  flex-grow: 1;
  width: 167px;
  margin-right: 15px;
  margin-bottom: 40px;
  margin-left: 23px;
  padding-top: 8px;

  line-height: 16px;
  font-size: 14px;

  cursor: pointer;

  input[type="checkbox"] + span {
    position: absolute;
    top: 9px;
    left: 0;

    width: 16px;
    height: 16px;

    border: 1px solid $white;
    opacity: 0.4;
  }

  input[type="checkbox"]:checked + span {
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9px 6px;
    opacity: 1;
  }

  input[type="checkbox"]:hover + span,
  input[type="checkbox"]:focus + span {
    opacity: 1;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 22px;
    margin-left: 0;
  }
}
