.intro {
  min-height: 878px;

  color: $white;

  background-image: url("../img/desktop/chip.png"), url("../img/desktop/triangles-intro.svg"), url("../img/desktop/background-intro.png");
  background-position: calc(50% + 431px) 258px, calc(50% + 406px) 118px, center top;
  background-size: auto, 671px 641px, cover;
  background-repeat: no-repeat;
  background-color: $black-100;
  overflow: hidden;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/desktop/chip@2x.png"), url("../img/desktop/triangles-intro.svg"), url("../img/desktop/background-intro@2x.png");
    background-size: 705px 515px, 671px 641px, cover;
  }

  @media (max-width: $tablet-width) {
    min-height: 686px;

    background-image: url("../img/tablet/chip.png"), url("../img/tablet/triangles-intro.svg"), url("../img/tablet/background-intro.png");
    background-position: calc(30% + 418px) 113px, calc(30% + 308px) 0, center top;
    background-size: auto, 330px 466px, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/tablet/chip@2x.png"), url("../img/tablet/triangles-intro.svg"), url("../img/tablet/background-intro@2x.png");
      background-size: 465px 340px, 330px 466px, cover;
    }
  }

  @media (max-width: $mobile-width) {
    min-height: 274px;

    background-image: url("../img/mobile/chip.png"), url("../img/mobile/triangles-intro.svg"), url("../img/mobile/background-intro.png");
    background-position: calc(90% + 9px) 92px, calc(55% + 254px) 7px, center top;
    background-size: auto, 506px 430px, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/mobile/chip@2x.png"), url("../img/mobile/triangles-intro.svg"), url("../img/mobile/background-intro@2x.png");
      background-size: 301px 220px, 506px 430px, cover;
    }
  }
}

.intro__wrapper {
  @include container-desktop-wide;
  position: relative;

  padding-top: 315px;
  padding-bottom: 276px;

  h2 {
    width: 720px;
    margin: 0;
    margin-left: -5px;

    font-family: $roboto-condensed;
    font-size: 80px;
    font-weight: 700;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  p {
    position: relative;

    display: block;
    width: 55%;
    margin-top: 28px;
    margin-bottom: 45px;
    padding-left: 92px;

    font-size: 22px;
    line-height: 34px;
  }

  p::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;

    width: 66px;
    height: 2px;

    background-color: $white;
  }

  @media (max-width: $tablet-width) {
    padding-top: 188px;
    padding-left: 92px;
    padding-bottom: 60px;

    h2 {
      width: 530px;

      font-size: 60px;
      line-height: 70px;
    }

    p {
      width: 530px;
      margin-bottom: 58px;
      padding-left: 46px;

      font-size: 18px;
      line-height: 28px;
    }

    p::before {
      width: 33px;
    }
  }

  @media (max-width: $mobile-width) {
    padding-top: 286px;
    padding-bottom: 70px;
    padding-left: 17px;

    h2 {
      width: auto;
      margin-left: -3px;
      padding-right: 0;

      font-size: 40px;
      line-height: 47px;
    }

    p {
      width: auto;
      margin-top: 27px;
      margin-bottom: 40px;
      padding-left: 48px;

      font-size: 16px;
      line-height: 25px;
    }
  }
}

.intro__button {
  width: 407px;
  margin-left: 92px;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  border: none;

  @media (max-width: $tablet-width) {
    width: 379px;
    margin-left: 46px;

    letter-spacing: 0.01em;
  }

  @media (max-width: $mobile-width) {
    width: 287px;
    margin: 0 auto;
  }
}

.intro__button-text {
  &--mobile {
    display: none;
  }

  @media (max-width: $mobile-width) {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;

      line-height: 27px;
      letter-spacing: 0.01em;
    }
  }
}

.intro__img {
  position: absolute;
  top: 258px;
  right: -54px;

  @media (max-width: $tablet-width) {
    top: 114px;
    right: -208px;

    width: 465px;
    height: 340px;
  }

  @media (max-width: $mobile-width) {
    top: 92px;
    left: 8%;

    width: 301px;
    height: 220px;
  }
}

.intro__scroll-button {
  position: absolute;
  left: -20px;
  bottom: 122px;

  padding: 5px;

  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.5;

  transform: rotate(-90deg);

  @media (max-width: $tablet-width) {
    display: none;
  }
}
