.nav {
  @media (max-width: $mobile-width) {
    @include container-desktop-wide;

    position: relative;
    padding-top: 28px;
    padding-bottom: 28px;

    border-top: 1px solid $grey-300;
  }
}

.nav__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 490px;
  height: 100px;

  @media (max-width: $tablet-width) {
    width: auto;
    height: auto;
  }

  @media (max-width: $mobile-width) {
    margin-top: 30px;
  }
}

.nav__link {
  @include interactive-element;
}
