.nav {
  margin-right: auto;

  @media (max-width: $mobile-width) {
    margin-right: 0;

    border-top: 1px solid $grey-300;
  }
}

.nav__wrapper {
  @media (max-width: $mobile-width) {
    position: relative;
    min-width: 290px;
    max-width: 767px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.nav__header {
  @media (max-width: $mobile-width) {
    position: absolute;
    top: 28px;
    left: 15px;
    z-index: -1;
  }
}

.nav__list-wrapper {
  display: flex;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }

  @media (max-width: $mobile-width) {
    margin-top: 30px;
  }
}

.nav__list {
  @include list-reset;
  margin-right: 74px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.nav__link {
  @include interactive-element;
}
