.nav {
  @media (max-width: $mobile-width) {
    border-top: 1px solid $grey-300;
  }
}

.nav__wrapper {
  width: 600px;

  @media (max-width: $tablet-width) {
    width: auto;
  }

  @media (max-width: $mobile-width) {
    position: relative;
    min-width: 290px;
    max-width: 767px;
    padding: 28px 15px;
  }
}

.nav__list {
  @include list-reset;
  column-count: 2;

  @media (max-width: $tablet-width) {
    column-count: auto;
  }

  @media (max-width: $mobile-width) {
    margin-top: 30px;
  }
}

.nav__item {
  display: inline-block;
  vertical-align: middle;
  width: 100%;

  @media (max-width: $tablet-width) {
    display: block;
    vertical-align: baseline;
  }
}

.nav__link {
  @include interactive-element;
}
