.questions {
  color: $white;

  background-color: $blue-100;
  background-image:
    url("../img/desktop/paper-airplane.png"),
    url("../img/desktop/triangles-questions.svg");
  background-position: calc(46% - 296px) 161px, calc(40% + 106px) -60px;
  background-size: auto;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/desktop/paper-airplane@2x.png"),
      url("../img/desktop/triangles-questions.svg");
    background-size: 511px 288px, auto;
  }

  @media (max-width: $tablet-width) {
    background-image: none;
  }
}

.questions__wrapper {
  @include container-desktop-tight;

  display: flex;
  justify-content: flex-end;

  @media (max-width: $tablet-width) {
    justify-content: center;
  }
}

.questions__column {
  width: calc(570px + 70px);
  padding-top: 90px;
  padding-bottom: 113px;
  padding-left: 70px;

  background-color: $blue-100;

  @media (max-width: $tablet-width) {
    width: 590px;
    padding-top: 80px;
    padding-bottom: 104px;
    padding-left: 0;

    background-color: none;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    padding-top: 30px;
    padding-bottom: 0;
  }
}

.questions__button {
  width: 270px;

  @media (max-width: $tablet-width) {
    width: 280px;
    margin-top: -2px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-top: 4px;
  }
}

.questions__checkbox {
  width: 260px;

  @media (max-width: $tablet-width) {
    width: 265px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}
