// Container
@mixin container-desktop-wide {
  max-width: 1461px;
  width: 100%;
  padding: 0 25px;

  @media (max-width: $mobile-width) {
    min-width: 290px;
    max-width: 767px;
    padding: 0 15px;
  }
}

@mixin container-desktop-tight {
  max-width: 1220px;
  width: 100%;
  padding: 0 25px;

  @media (max-width: $mobile-width) {
    min-width: 290px;
    max-width: 767px;
    padding: 0 15px;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin interactive-element {
  transition: opacity 0.3s;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
