// Container
@mixin container-desktop-wide {
  padding: 0 25px;
  max-width: 1461px;
  width: 100%;

  @media (max-width: $mobile-width) {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@mixin container-desktop-tight {
  padding: 0 25px;
  max-width: 1220px;
  width: 100%;

  @media (max-width: $mobile-width) {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin interactive-element {
  transition: opacity 0.3s;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
